*{
    padding: 0px;
    margin: 0px;
}
body{
    overflow-x: hidden;
}
#container{
    background-image: url('../img/IMG-20180819-WA0038.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#333;
    overflow-x: hidden;
    min-height: 1200px;
    width: 100%;
    z-index: -1;
}
nav{
    width: 100%;
    height:60px;
    background-color: #333;
}
nav img{
    width: auto;
    height:50px;
    margin-left: 30px;
    margin-top: 5px;
}
nav ul{
    float: right;
    height: 50px;
    margin-right: 300px;
    margin-top: 5px;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 200px;
}
nav ul li{
    width: 30px;
    height: 30px;
    margin: 10px;
}
nav ul li:hover{
    transform:scale(1.2);
    transition-duration: 0.2;
}
nav ul li img{
    width: 100%;
    height: 100%;
}
header{
    width: 100%;
    height: 700px;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
#texto{
    background-color: rgb(51,51,51,0.8);
    width: 50%;
    height: 50%;
    text-align:center;
    color: #FFCC00;
    font-family: Orator Std;
    font-size: 30px;
}
#texto h1{
    margin:50px;
    animation-name: mudaCor;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
#texto p{
    font-size: 80px;
}
#center{
    width: 100%;
    min-height: 500px;
    background-color: #FFF;
}
#center h1{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color:#CEA500;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    line-height: 2;
}
#center ul{
    width: 100%;
    min-height: 400px;
    background-color: #FFF;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
#center ul li{
    height: 280px;
    width: 280px;
    margin: 30px;
    margin-left: 80px;
    margin-right: 80px;
}
.li_item, .li_item_sombra{
    height: 280px;
    width: 280px;
    overflow:hidden;
    position: relative;
    z-index: 200;
    box-shadow: 1px 1px 2px 1px #333;
}
.li_item_sombra{
    background-color: rgb(51,51,51,0.7);
    top:-280px;
    z-index: 500;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.li_item_sombra:hover{
    animation: fade 0.5s;
    animation-fill-mode:forwards;
    cursor:pointer;
}
#center ul li div h3{
    color: #CEA500;
    font-size: 70px;
    z-index: 1000;
    font-family: fantasy;
}
#center ul li img{
    width: 280px;
    height: auto;
}
footer{
    width: 100%;
    height: 200px;
    text-align: center;
}
footer h2{
    color: #FFF;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding:10px;
}
footer h5{
    color:#CEA500;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding:10px;
}
footer span{
    padding-top: 30px;
    width: 100vw;
}
footer input[type='text']{
    width: 350px;
    height: 35px;
    border: none;
    border-radius: 100px 0  0 100px;
    padding:5px;
    padding-left:15px;
    font-size: 18px;
    color: #555;
}
footer input[type='submit']{
    width: 150px;
    height: 45px;
    border: none;
    border-radius: 0 100px 100px 0;
    padding:5px;
    font-size: 22px;
    color: #FFF;
    background-color: #CEA500;
    margin-left:-5px;
    margin-top:-5px;
}
footer input[type='submit']:hover{
    cursor: pointer;
    background-color: #ad8b01;
    box-shadow: inset 1px 1px 1px 2px #444;
}
footer input:focus{
    border: none;
    box-shadow: 0 0 0 0;
    outline: 0;
}
@media screen and (max-width:960px) {
    #texto h1{
        margin:10px;
        font-size: 30px;
    }
    #texto p{
        font-size: 50px;
    }
}
@keyframes fade {
    from{
        opacity: 1;
        transform: scale(1);
    }to{
        opacity: 0;
        transform: scale(0.8);
    }
}
@keyframes mudaCor {
    0%   {color:#FFCC00}
    20%  {color:#be8eeb}
    40%  {color:rgb(74, 74, 255)}
    60%  {color:rgb(112, 163, 112)}
    80%  {color:rgb(255, 255, 255)}
    100% {color:#FFCC00}
}